<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a routerLink="/"><img class="logo" src="./../../assets/images/logo1.png" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="first">
							<a class="btn btn-default lv1" routerLink="/movies">movies</a>
						</li>
						<li class="first">
							<a class="btn btn-default lv1" routerLink="/celebs">celebrities</a>
						</li>
						<li class="first">
							<a class="btn btn-default lv1" routerLink="/blogs">news</a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default lv1" routerLink="/profile">user</a>
						</li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	</div>
</header>
<!-- END | Header -->

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> blog listing </h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="buster-light">
    <!-- blog list section-->
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="blog-item-style-1 blog-item-style-3" *ngFor="let b of blogs">
                        <img src="http://placehold.jp/ebf0f5/010912/100x200.png?text=Image" alt="">
                        <div class="blog-it-infor">
                            <h3><a routerLink="{{ '/blog/'+b._id }}">{{b.title}}</a></h3>
                            <span class="time">{{b.postedAt}}</span>
                            <p>{{b.short_d}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--end of blog list section-->
			</div>