<div>
<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a routerLink="/"><img class="logo" src="./../../assets/images/logo1.png" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="first">
							<a class="btn btn-default lv1" routerLink="/movies">movies</a>
						</li>
						<li class="first">
							<a class="btn btn-default lv1" routerLink="/celebs">celebrities</a>
						</li>
						<li class="first">
							<a class="btn btn-default lv1" routerLink="/blogs">news</a>
						</li>
						<li class="first">
							<a class="btn btn-default lv1" routerLink="/profile">user</a>
						</li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	</div>
</header>
<!-- END | Header -->

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>{{ username +"'s Profile" }}</h1>
				</div>
			</div>
		</div>
	</div>
</div>
		<div class="buster-light">
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-fav">
						<p>Account Details</p>
						<ul>
							<li class="active"><a>Profile</a></li>
							<li><a>Favorite movies</a></li>
							<li><a>Rated movies</a></li>
						</ul>
					</div>
					<div class="user-fav">
						<p>Others</p>
						<ul>
							<li><a>Change password</a></li>
							<li><a (click) = "logOut()">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro">
					<form class="user" (ngSubmit)="onUpdateProfileSubmit()">
						<h4 style="color:black;">Profile details</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Username</label>
								<input type="text" id="username" name="username" [(ngModel)]="username">
							</div>
							<div class="col-md-6 form-it">
								<label>Email Address</label>
								<input type="email" id="email" name="email" [(ngModel)]="email">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>First Name</label>
								<input type="text" id="fname" name="fname" [(ngModel)]="fname">
							</div>
							<div class="col-md-6 form-it">
								<label>Last Name</label>
								<input type="text" id="lname" name="lname" [(ngModel)]="lname">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Date of Birth</label>
								<input type="date" id="dob" name="dob" [(ngModel)]="dob">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="save">
							</div>
						</div>	
					</form>
					<form class="password" (ngSubmit)="onChangePasswordSubmit()">
						<h4 style="color:black;">Change password</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Old Password</label>
								<input type="password" id="oldpassword" name="oldpassword" [(ngModel)]="oldpassword">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>New Password</label>
								<input type="password" id="newpassword" name="newpassword" [(ngModel)]="newpassword">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Confirm New Password</label>
								<input type="password" id="conf_newPassword" name="conf_newpassword">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="change">
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
		</div>
</div>
